.masthead {
  margin-bottom: 7vh;
  margin-bottom: 7dvh;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vh;
  margin-top: 2dvh;

  a {
    font-variation-settings: 'wght' 200, 'wdth' 125, 'ital' 0;
    font-size: var(--step-1);
    text-transform: uppercase;

    &:hover {
      font-variation-settings: 'wght' 700, 'wdth' 125, 'ital' 0;
    }

    &.active {
      font-variation-settings: 'wght' 900, 'wdth' 125, 'ital' 0;
      color: var(--colour-accent);
    }
  }
}
